.container {
  float:none;
  margin:auto;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.social-container {
  float: none;
  margin: auto;
  display: flex;
  justify-content: center;
}


.social-list {
  display: flex;
  list-style-type: none;
  margin: 0 0rem;
  margin-left: -2rem;
  float: left;
  font-size:0.5em;
  font-weight: 500;
}

.social-list-item {
  margin-right: 1rem;

}

.social-links {
    background-image: none;
    color: #000000;
    transition: transform 250ms;
    display:inline-block;
}

.social-links:hover {
  color: #343434;
  transform: translateY(-1.5px);
}

.signature {
  font-size: 14px;
  margin: auto;
}