$grid-columns: 12;

$sm: 48rem;
$md: 62rem;
$lg: 75rem;

.grid {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  > [class*="column-"] {
    display: block;
    padding: 1rem;
  }
}

@for $i from 1 through $grid-columns {
  .column-xs-#{$i} {
    flex-basis: $i / $grid-columns * 100%;
    max-width: $i / $grid-columns * 100%;
  }
}

@media (min-width: $sm) {
  @for $i from 1 through $grid-columns {
    .column-sm-#{$i} {
      flex-basis: $i / $grid-columns * 100%;
      max-width: $i / $grid-columns * 100%;
    }
  }
}

@media (min-width: $md) {
  @for $i from 1 through $grid-columns {
    .column-md-#{$i} {
      flex-basis: $i / $grid-columns * 100%;
      max-width: $i / $grid-columns * 100%;
    }
  }
}

@media (min-width: $lg) {
  @for $i from 1 through $grid-columns {
    .column-lg-#{$i} {
      flex-basis: $i / $grid-columns * 100%;
      max-width: $i / $grid-columns * 100%;
    }
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    > [class*="column-"] {
      margin: 0;
      max-width: 100%;
    }
  }

  @for $i from 1 through $grid-columns {
    .column-xs-#{$i} {
      grid-column-start: span #{$i};
      grid-column-end: span #{$i};
    }
  }

  @media(min-width: $sm) {
    @for $i from 1 through $grid-columns {
      .column-sm-#{$i} {
        grid-column-start: span #{$i};
        grid-column-end: span #{$i};
      }
    }
  }

  @media(min-width: $md) {
    @for $i from 1 through $grid-columns {
      .column-md-#{$i} {
        grid-column-start: span #{$i};
        grid-column-end: span #{$i};
      }
    }
  }

  @media(min-width: $lg) {
    @for $i from 1 through $grid-columns {
      .column-lg-#{$i} {
        grid-column-start: span #{$i};
        grid-column-end: span #{$i};
      }
    }
  }
}



// $grid-columns: 12;

// $sm: 48rem;
// $md: 62rem;
// $lg: 75rem;


// .container {
//   max-width: 76rem;
//   margin: auto;
//   width: 100%;
// }

// .content{
//   flex-grow: 1;
//   max-width: 1280px;
//   margin: auto;
// }

// .grid {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-auto-rows: minmax(50px, auto);
//   grid-gap: 10px;
// }

// .col-span-12 { grid-column-end: span 12; }
// .col-span-11 {grid-column-end: span 11; }
// .col-span-10 { grid-column-end: span 10; }
// .col-span-9 { grid-column-end: span 9; }
// .col-span-8 { grid-column-end: span 8; }
// .col-span-7 { grid-column-end: span 7; }
// .col-span-6 { grid-column-end: span 6; }
// .col-span-5 { grid-column-end: span 5; }
// .col-span-4 { grid-column-end: span 4; }
// .col-span-3 { grid-column-end: span 3; }
// .col-span-2 { grid-column-end: span 2; }

// .col-span-8--1 { 
//   grid-column-start: 2;
//   grid-column-end: 10;
// }

