
.header {
  padding: 0rem 0 1rem;
  text-shadow: none;
  display: flex;
}

.nav-list {
  margin: 0;
  list-style-type:none;
  width:100%;

  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: 500;

}

.title {
  color: #000000;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
  font-size: 2em;
}


.list-item-left{
  float: left;
  width: auto;
}

.list-item{
  float: right;
  width: 4rem;
  text-align: center;
}

.nav-item {
  color: #999999;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
  text-align: center;
}

.nav-item:hover {
  color: #ff9669;
}


.active-nav-item {
  color: #333333;
}



/* .ul {
  font-family: 'Futura';
  font-size:0.6em;
  font-weight: 500;
  list-style: none;
  float:right;
  display: inline;
  margin-right: 1rem;
} */

/*
.list {
  display: inline;
  margin-right: 1rem;
} */