@import 'grid';
@import 'footer';
@import 'header';



h1{
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 500;
  font-size: 54px;
  line-height: 120%;
  letter-spacing: normal;
  columns: #131313;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: normal;
  columns: #131313;
}

a:link {
  color: black;
}




