.layout {
  background-color: #f8f8f8;
  padding: 4rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1{
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: normal;
  columns: #131313;
}

.content{
  flex-grow: 1;
  max-width: 1280px;
  margin: auto;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: normal;
  columns: #131313;
}

a:link {
  color: black;
}