:root {
}

// colors
$color-black: #091133;
$color-black-secondary: #303753;
$color-white: #f9f9f9;
$color-orange: #F44306;

$link-color: #F44306;

$link-color-dark: #215c88;
$link-underline-color: #add7ea;
$link-underline-color-light: #bcdceb;
$link-underline-color-lighter: #c6e4f2;
$color-highlight: #fdebcc;
$color-border: #ebecf2;
$color-dark-body: #23273a;
$color-light-pink: #f6f1f4;
$color-dark-text: #b8b7d1;
$color-dark-nav-link: #9694ba;
$link-dark-color: #f1b1eb;
$link-dark-color-light: #f6c1f0;
$link-underline-dark-color: #675682;
$link-underline-dark-color-dark: #61517a;
$link-underline-dark-color-darker: #5e4e75;
$color-dark-border: #3b3d54;
$color-dark-highlight: #5c5ab1;



// fonts
$font-main:'Jost', sans-serif;
$font-secondary: 'Poppins', sans-serif;

