.nav-list {
  display: inline-block;
  list-style-type: none;
  /* list-style: none; */
  margin: 0;
  margin-left: 1em;
  padding-left: 1em;
  float:left;

  font-family: 'Futura';
  font-size:0.6em;
  font-weight: 500;

}

.nav-item {
  color: #999999;
  font-size: 0.6rem;
  margin-left: 1rem;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}

.nav-item:hover {
  color: #666666;
}
