.social-container {
  float: none;
  margin: auto;
  display: flex;
  justify-content: center;
}

.social-list {
  display: flex;
  list-style-type: none;
  margin: 0 0rem;
  float: left;

  font-family: 'Futura';
  font-size:0.5em;
  font-weight: 500;

}

.social-list-item {
  margin-right: 1rem;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}

.social-list-item:hover {
  color: #666666;
}
